@{
    ViewData["Title"] = "Create room";
    @* ViewData["Styles"] = "~/css/createRoom.css"; *@
    @* ViewData["Scripts"] = "~/js/createRoom.js"; *@
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@* <div class="main-container">
    <i class="fas fa-chevron-left" id="back-movie"></i>
    <i class="fas fa-chevron-left" id="back-date"></i>

    <div class="movie-container">
        <div class="movie-slider">

        </div>
    </div>
    <i class="fas fa-chevron-right" id="next-movie"></i>
    <i class="fas fa-chevron-right" id="next-date"></i>
    <div class="date-slider">
        <div class="date-container"></div>
    </div>
</div> *@