@using ASP_Project.ViewModel;
@model AddmovieVM
@using ASP_Project.Data;

@using System;
@using System.Collections.Generic;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.DataAnnotations.Schema;
@using System.Linq;
@using System.Threading.Tasks;


@{
    ViewData["Title"] = "Admin Page";
    ViewData["Styles"] = "~/css/addMovie.css";
    ViewData["Scripts"] = "~/js/addMovie.js";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="movie-container">
    <form asp-action="Addmovie" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
        <div class="movie-title">
            <label asp-for="Title">Movie Title</label>
            <input asp-for="Title" type="text" id="movie-title" placeholder="type movie title">
        </div>
        <div class="form-group" style="display:none">
            <label asp-for="Image" class="control-label"></label>
            <input asp-for="Image" id="imageUrl" type="text" />
        </div>
        <div class="preview-image"></div>
        <div class="movie-image">
            <label>Movie Image</label>
            <input type="file" id="movie-image" accept="image/jpeg, image/png, image/jpg">
        </div>
        <div class="movie-description">
            <label asp-for="Description">Movie Description</label>
            <textarea asp-for="Description" id="movie-description" placeholder="type some description"></textarea>
        </div>
        <input type="submit" class="btn btn-success" value="add movie">


        @* <div class="form-group">
        <label asp-for="Title" class="control-label">Name Movie</label>
        <input asp-for="Title" type="text" required />
        </div>
        <div class="form-group" style="display:none">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" id="imageUrl" type="text" />
        </div>

        <div class="form-group">
        <label>Add Image</label>
        <input type="file" id="file" required />
        </div>

        <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" type="text" required />
        </div> *@
    </form>

</div>