@{
    ViewData["Title"] = " User Management";
    ViewData["Styles"] = "~/css/users.css";
    ViewData["Scripts"] = "~/js/users.js";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="users-container">
    <div class="user">
        <div class="user-id">
            <h2>ID</h2>
        </div>
        <div class="user-email">
            <h2>Email</h2>
        </div>
        <div class="user-delete"><h2>Delete</h2></div>
    </div>
</div>