@foreach (var item in ViewBag.groups)
{
    <div>
        <img src="@item.hostuserimage" />
        <p>@item.movieimage</p> 
        <p>@item.movietitle</p>
        <button  type="submit" class="submit-button">Submit</button>               
    </div>
}

<div>sdfdsfsf</div>