@{
  ViewData["Title"] = "Profile";
  ViewData["Styles"] = "~/css/profile.css";
  ViewData["Scripts"] = "~/js/profile.js";
  Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<section class="user-profile">
  <h1 class="header-title">your profile</h1>
  <div class="info">
    <div class="user">
      <img src=@Model.Image alt="user image" />
      <h2>@Model.Name</h2>
      <a href="/profile/edit" class="btn btn-warning">update profile</a>
    </div>

    <div class="box-container">
      <div class="box">
        <div class="flex">
          <i class="fa-solid fa-heart"></i>
          <div>
            <span>@ViewBag.numFav</span>
            <p>movies liked</p>
          </div>
        </div>
        <a href="/profile/LikeMovie" class="btn btn-warning">view movies</a>
      </div>

      <div class="box">
        <div class="flex">
          <i class="fa-solid fa-users-rectangle"></i>
          <div>
            <span>@ViewBag.groupNum</span>
            <p>groups</p>
          </div>
        </div>
        <a href="/profile/groups" class="btn btn-warning">view groups</a>
      </div>

    </div>
  </div>
  <button class="btn btn-danger back" id="back">Back</button>
  <a asp-action="Requests" class="btn btn-warning reciepts">reciepts</a>
</section>