@using ASP_Project.ViewModel;
@model AppUser

@{
    ViewData["Title"] = "One users";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>One users</h4>
        </p>

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">
                        @Model.Name
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
</div>