@* @model AppUser

@using ASP_Project.ViewModel;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signInManager;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   
</div> *@




@{
    ViewData["Title"] = "Home Page";
    ViewData["Styles"] = "~/css/home.css";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="cards">
    <section class="card">
        <img src="https://uppic.cloud/ib/pqyRSqblvf.jpg" alt="4kings2" class="card-img">
        <h2>4Kings</h2>
        <button class="btn btn-transparent">Check</button>
    </section>

    <section class="card">
        <img src="https://uppic.cloud/ib/yKEwr3XQ6P.jpg" alt="4kings2" class="card-img">
        <h2>Avatar</h2>
        <button class="btn btn-transparent">Check</button>
    </section>

    <section class="card">
        <img src="https://uppic.cloud/ib/CJHBbD2KB3.jpg" alt="4kings2" class="card-img">
        <h2>4Kings</h2>
        <button class="btn btn-transparent">Check</button>
    </section>

    <section class="card">
        <img src="https://uppic.cloud/ib/RFuqAZij95.jpg" alt="4kings2" class="card-img">
        <h2>Avengers</h2>
        <button class="btn btn-transparent">Check</button>
    </section>

    <section class="card">
        <img src="https://uppic.cloud/ib/ErwSDpVROn.jpg" alt="Transformers" class="card-img">
        <h2>Transformers</h2>
        <button class="btn btn-transparent">Check</button>
    </section>

    <section class="card">
        <img src="https://picsum.photos/200/300?grayscale" alt="4kings2" class="card-img">
        <h2>4Kings</h2>
        <button class="btn btn-transparent">Check</button>
    </section>

    <section class="card">
        <img src="https://lh3.googleusercontent.com/5U3o9cOloz01BbVZgqd9EnX6YR49SkMv22EROs8h9JvR6YQ2UMHuaV9odebRk1Hxs80cumWB80njRihnqLbMwG7dwjwCke5xYmE=w215" alt="KungFuPanda4" class="card-img">
        <h2>KungFuPanda4</h2>
        <button class="btn btn-transparent">Check</button>
    </section>

    <section class="card">
        <img src="https://picsum.photos/200/300?grayscale" alt="4kings2" class="card-img">
        <h2>4Kings</h2>
        <button class="btn btn-transparent">Check</button>
    </section>

    <section class="card">
        <img src="https://picsum.photos/200/300?grayscale" alt="4kings2" class="card-img">
        <h2>4Kings</h2>
        <button class="btn btn-transparent">Check</button>
    </section>

    <section class="card">
        <img src="https://picsum.photos/200/300?grayscale" alt="4kings2" class="card-img">
        <h2>4Kings</h2>
        <button class="btn btn-transparent">Check</button>
    </section>

    <section class="card">
        <img src="https://picsum.photos/200/300?grayscale" alt="4kings2" class="card-img">
        <h2>4Kings</h2>
        <button class="btn btn-transparent">Check</button>
    </section>

    <section class="card">
        <img src="https://picsum.photos/200/300?grayscale" alt="4kings2" class="card-img">
        <h2>4Kings</h2>
        <button class="btn btn-transparent">Check</button>
    </section>
</div> 
