@{
    ViewData["Title"] = "Home Page";
    ViewData["Styles"] = "~/css/home.css";
    ViewData["Scripts"] = "~/js/home.js";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="cards"></div> 


