.main-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5rem;
    flex-direction: column;
    margin-inline: auto;   
    margin-block: 5rem;
    background-color: var(--dark-color);
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 1rem 3rem;

}

.form-details{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 var(--dark-color);


}

i{
    cursor: pointer;
    padding: 1rem;  
    z-index: 10
}

#back-movie{
    position: absolute;
    left: 1%;
    top: 20rem;
    z-index: 10;
}
#next-movie{
    position: absolute;
    right: 1%;
    top: 20rem;
    z-index: 10;
}
#back-date{
    position: absolute;
    left: 1%;
    top: 30rem;
    z-index: 10;
}
#next-date{
    position: absolute;
    right: 1%;
    top: 30rem;
    z-index: 10;
}
.movie-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    width: 80%;
    margin-inline: auto;
    /* overflow: auto; */
    overflow: hidden; 

}

.movie-slider {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%/3);
    text-align: center;
    transition: transform .3s;
    min-height:30rem;
    min-width: 20rem;
    background-color: var(--light-color);
}

.movie-item{
    border: 2px solid var(--dark-color);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.date-slider{
    display: block;
    border-radius: 1rem;
    background-color: var(--light-color);
    color: var(--dark-color);
    margin-inline: 5rem;
    overflow: hidden;
}

.date-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%/6);
    text-align: center;
    transition: transform .3s;
    min-height: 8rem;
    /* overflow: hidden; */
}

.date-container.large{
    grid-auto-columns: calc(100%/5);
}

.date-container.medium{
    grid-auto-columns: calc(100%/4);
}

.date-container.small{
    grid-auto-columns: calc(100%/3);
}

.date-container.xsmall{
    grid-auto-columns: calc(100%/2);
}

.date-container.xxsmall{
    grid-auto-columns: calc(100%/1);
}

.date-container > .date{
    padding-block: 1rem;
    
}
/* .date-container > .date:hover{
    color: var(--info-color);
    cursor: pointer;
} */

/* .date-container > .date.active{
    color: var(--light-color);
    background-color: var(--info-color);
    border-radius: .5rem;
}

.date-container > .date.active:hover{
    color: var(--light-color);
    background-color: var(--info-color);
    border-radius: .5rem;
} */

.date-container span{
    display: block;
}