.section > nav.sidebar-responsive > ul > li:nth-child(3), aside > nav.sidebar > ul li:nth-child(3){
    background-color: var(--danger-color);
}

.movie-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.movie-title, .movie-description, .movie-image{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 2rem;
}

.movie-image-text{
    padding: 1rem;
    width: 95%;
    margin-block: 1rem;
}

.movie-title label, .movie-description label, .movie-image label, .display-src label{
    font-weight: 700;
}

.movie-title input, .movie-description textaRrea{
    border-radius: 1rem;
    padding: 1rem;
}

.movie-title{
    width: 95%;
    max-width: 40rem;
}

.movie-title input{
    height: 5rem;
}

.preview-image{
    background-image: url('https://via.placeholder.com/150');
    background-size: cover;
    background-repeat: no-repeat;
    width: 10rem;
    margin-inline: 2rem;
    width: 10rem;
    height: 10rem;
    margin-block: 3rem;
}

.display-src{
    margin: 2rem;
}

.movie-description textarea{
    resize: none;
    height: 15rem;
}

.movie-description{
    width: 95%;
    max-width: 60rem;
}

.update-btn{
    display: block;
    width: 90%;
    padding-block: 1.5rem;
    margin-inline: auto;
    border-radius: 1rem;
    background-color: var(--success-color);
    color: var(--light-color);
    margin-block: 3rem;
}

.update-btn:hover{
    background-color: darkgreen;
    color: var(--light-color);
}

/* .add-date-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 20rem;
    margin-inline: 1rem;
} */

.add-date-container > .add-date-btn{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.add-date-container > .add-date-btn > button{
    font-size: 3rem;
    color: var(--dark-color);
    background-color: var(--light-color);
    padding: .5rem 2rem;
    cursor: pointer;
    transition: .3s;
}

.add-date-container > .add-date-btn > button:hover{
    background-color: darkgray;
    color: var(--light-color);
}

.add-date-container > .add-date-btn > button:disabled{
    background-color: var(--dark-color);
    color: var(--light-color);
}

.add-date-container > .new-date{
    background-color: rgb(157, 52, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    padding: 2rem;
}

.add-date-container > .new-date > input{
    padding: 1rem .5rem;
    margin-inline: .5rem;
}

.add-date-container > .new-date > .submit-date-btn{
    padding-inline: 2rem;
}

.add-date-container > .new-date > .submit-date-btn > button{
    font-size: 2rem;
    border-radius: .5rem;
    padding: .5rem 1rem;
    cursor: pointer;
    width: min-content;
    height: min-content;
    margin-inline: 1rem;
}


.date-select-container{
    display: block;
    background-color: var(--light-color);
    color: var(--dark-color);
    margin-inline: 5rem;
    border-radius: 1rem;
    overflow: hidden;
}

.date-select-container > i{
    font-size: 3rem;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    color: var(--light-color);
}

.date-select-container > i.fa-chevron-left{
    left: 1%;
    top: 73rem;
}

.date-select-container > i.fa-chevron-right{
    right: 1%;
    top: 73rem;
}

.date-slider{
    display: block;
    border-radius: 1rem;
}

.date-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%/6);
    text-align: center;
    transition: transform .3s;
    min-height: 8rem;
}

.date-container.large{
    grid-auto-columns: calc(100%/5);
}

.date-container.medium{
    grid-auto-columns: calc(100%/4);
}

.date-container.small{
    grid-auto-columns: calc(100%/3);
}

.date-container.xsmall{
    grid-auto-columns: calc(100%/2);
}

.date-container.xxsmall{
    grid-auto-columns: calc(100%/1);
}

.date-container > .date{
    padding-block: 1rem;
    
}
.date-container > .date:hover{
    color: var(--info-color);
    cursor: pointer;
}

.date-container > .date.active{
    color: var(--light-color);
    background-color: var(--info-color);
    border-radius: .5rem;
}

.date-container > .date.active:hover{
    color: var(--light-color);
    background-color: var(--info-color);
    border-radius: .5rem;
}

.date-container span{
    display: block;
}





.cinema-showtime{
    color: var(--dark-color);
    width: 95%;
    background-color: var(--light-color);
    padding: 4rem;
    margin-inline: auto;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cinema-container{
    border: 2px solid var(--dark-color);
    border-radius: 1rem;
    padding: 2rem;
    min-height: 35rem;
}


.cinema-container > .cinema-name{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    display: block;
    background-color: dimgray;
    color: var(--dark-color);
    padding-block: 1rem;
    padding-inline: 2rem;
}

.showtime{
    display: flex;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
}

.showtime-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    height: 100%;
    gap: 3rem;
    flex: 66.67%;
}

.showtime-container span{
    padding: 1rem 3rem;
    background: linear-gradient(90deg, #2f66cd, #4db0db 75%, #5ab6de);
    font-weight: 600;
    border-radius: .5rem;
    text-align: center;
    position: relative;
}

.showtime-container span:hover::after{
    background: linear-gradient(90deg, red, lightcoral 75%, darkred);
    cursor: pointer;
    content: 'DELETE';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.add-showtime-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    flex: 33.33%;
}

.add-showtime-container > .add-showtime-title{
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
}

.add-showtime-container > .add-showtime-title button{
    font-size: 2rem;
    border-radius: .5rem;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 1rem 1.5rem;
    cursor: pointer;
    width: min-content;
    height: min-content;
    transition: .3s;
}

.add-showtime-container > .add-showtime-title > button:hover{
    background-color: darkgray;
    color: var(--light-color);
}

.add-showtime-container > .add-showtime-title > button:disabled{
    background-color: var(--dark-color);
    color: var(--light-color);
}

.add-showtime-input-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgb(157, 52, 255);
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem;
}

.add-showtime-input-container > .add-showtime-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.add-showtime-input-container > .add-showtime-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.add-showtime-input-container > .add-showtime-submit > button{
    font-size: 1.5rem;
    border-radius: .5rem;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: .5rem;
    cursor: pointer;
    width: min-content;
    height: min-content;
    transition: .3s;
}

