body {
  overflow-y: auto !important;
}

.heading{
  border-bottom: 0.2rem solid var(--light-color);
  margin-bottom: 2rem;
}
.header-title {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid var(--light-color);
  text-transform: capitalize;
}

.user-profile {
  margin-top: 5rem;
  margin-inline: auto;
}

.user-profile,
.user-group,
.user-movie {
  max-width: 1200px;
  width: 80%;
  background-color: var(--dark-color);
  margin-inline: auto;
  margin-top: 4rem;
  padding: 3rem;
}



.info,
.group-list {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color);
  border-radius: 0.5rem;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin-top: -1rem;
}

.score p {
  color: var(--light-color);
  margin-top: 1.2rem;
}

.user-profile .info .user {
  text-align: center;
  padding: 2rem;
}

.user-profile .info .user img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.user-profile .info .box-container {
  display: flex;
  gap: 1.5rem;
  padding: 0 2rem 2rem 2rem;
}

.user-profile .info .box-container .box {
  border-radius: 0.5rem;
  padding: 1rem;
  flex: 1 1 auto;
}

.user-profile .info .box-container .box .flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.user-profile .info .box-container .box .flex i {
  font-size: 1.5rem;
  background-color: var(--light-color);
  color: var(--dark-color);
  text-align: center;
  border-radius: 0.5rem;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
}

.user-profile .info .box-container .box .flex span {
  font-size: 1rem;
}

span, p {
  color: var(--dark-color);
}


.form-container form {
  background-color: var(--dark-color);
  border-radius: 0.5rem;
  padding: 2rem;
  width: 25rem;
}

.form-container form h1 {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  margin-top: 0;
}

.form-container form p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-container form .box {
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.75rem;
  width: 93.5%;
  margin-bottom: 1rem;
}

/* user-group */
.user-group .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.user-group .box-container .box {
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.user-group .box-container .box .creator {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem
}

.user-group .box-container .box .creator img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.user-group .box-container .box .creator h3 {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.user-group .box-container .box .creator span {
  font-size: 0.75rem;
}

.user-group .box-container .box .creator i {
  font-size: 1.25rem;
  margin-left: auto;
  cursor: pointer;
}

.user-group .box-container .box .creator .modal {
  position: absolute;
  z-index: 1;
  margin-top: 7rem;
  margin-left: 20rem;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.user-group .box-container .box .creator .modal a {
  display: block;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.user-group .box-container .box .movie {
  position: relative;
}

.user-group .box-container .box .movie span {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
}

.user-group .box-container .box .movie img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.user-group .box-container .box .title {
  font-size: 1.5rem;
}

.user-movie .box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.user-movie .box-container .box {
  display: flex;
  gap: 1.5rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: #222;
}

.user-movie .box-container .box img {
  width: 50%;
  height: 9rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.user-movie .box-container .box .detail {
  gap: 1.5rem;
}

.user-movie .box-container .box .detail h3 {
  font-size: 1.5rem;
}

/* another profile */
.user-profile .details {
  text-align: center;
  border-radius: 0.5rem;
  padding: 2rem;
}

.user-profile .details .user img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.user-profile .social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.user-profile .social p {
  flex: 1 1 auto;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.back{
  margin-left: 1rem;
}

.box{
  background-color: #222;
}
.box > .flex > div > span, .box > .flex > div > p{
  color: var(--light-color);
}
@media (max-width: 480px) {
  .user-profile{
    margin-block:0;
  }

  .user-profile .info .box-container {
    flex-direction: column;
  }
  .user-movie .box-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}